@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --light-pale: #ff900e1a;
  --dark-1: #131313;
  --dark-2: #424242;
  --primary: #ff900e;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-50 {
  margin-bottom: 50px;
}

.description {
  color: var(--dark-2);
  line-height: 26px;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  padding: 20px 25px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-primary:hover {
  transform: translateY(-10px);
}

/* Header styles */
header {
  background-color: var(--light-pale);
  min-height: 100vh;
}
/* Navigation Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

nav .logo-text {
  color: var(--dark-1);
  font-size: 18px;
}

nav .nav-links {
  display: flex;
  gap: 50px;
  list-style: none;
}

nav .nav-links li a {
  color: var(--dark-2);
  font-weight: 500;
}

/* Header Content Styles */
.header-content {
  text-align: center;
}

.header-content-title {
  font-size: 60px;
  color: var(--dark-1);
}

.header-btn {
  animation: up-down 0.8s ease-in infinite alternate;
}

@keyframes up-down {
  to {
    transform: translateY(-10px);
  }
}

/* media queries */
@media screen and (max-width: 576px) {
  /* Global Styles */
  .container {
    padding: 20px;
  }
  .description {
    font-size: 14px;
  }
  /* Navigation */
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  nav .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  /* Header Content */
  .header-content-title {
    font-size: 45px;
  }
}
